<div class="row ml-auto">
  <div class="col-md-6">
    <h2><i class="fa fa-users mr-2"></i>Contacts</h2>
  </div>
</div>
<table *ngIf="contacts?.length > 0;else noContacts" class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
        <td>{{ contact.Name }}</td>
        <td>{{ contact.Email }}</td>
        <td>{{ contact.Phone }}</td>
        <td>
          <span class="float-right">
            <a routerLink="/contact/detail/{{ contact.id }}" class="btn btn-dark btn-small mr-2"><i class="fa fa-search mr-1"></i>View</a>
            <a routerLink="/contact/edit/{{ contact.id }}" class="btn btn-warning btn-small mr-2"><i class="fa fa-edit mr-1"></i>Edit</a>
            <button (click)="onDeleteClick(contact.id)" class="btn btn-danger btn-small"><i class="fa fa-trash mr-1"></i>Delete</button>
        </span>
        </td>
    </tr>
  </tbody>
</table>

<ng-template # noContacts> 
  <hr>
  <h5>There are no Contacts in the system</h5>
</ng-template>