<div class="card">
<div class="card-header">
  <h2><i class="fa fa-users mr- 2"></i> Edit Contact</h2>
</div>
<div class="card-body">
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <div class="form-group">
      <label for="Name">Name</label>
      <input 
        type="text"
        class="form-control"
        name="Name"
        #contactName="ngModel"
        [ngClass]="{'is-invalid':contactName.errors && contactName.touched}"
        [(ngModel)]="contact.Name"
        minlength="2"
        required
      >

      <div [hidden]="!contactName.errors?.required"
      class="invalid-feedback">
        Please Enter Name
      </div>
      <div [hidden]="!contactName.errors?.minlength"
      class="invalid-feedback">
        Must be at least 2 characters
      </div>

    </div>

    <div class="form-group">
      <label for="Email">Email</label>
      <input 
        type="text"
        class="form-control"
        name="Email"
        #contactEmail="ngModel"
        [ngClass]="{'is-invalid':contactEmail.errors && contactEmail.touched}"
        [(ngModel)]="contact.Email"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        required
      >

      <div [hidden]="!contactEmail.errors?.required"
      class="invalid-feedback">
        Email Required
      </div>
      <div [hidden]="!contactEmail.errors?.pattern"
      class="invalid-feedback">
        Email is not valid
      </div>

    </div>
    <div class="form-group">
      <label for="Phone">Phone</label>
      <input 
        type="number"
        class="form-control"
        name="Phone"
        #contactPhone="ngModel"
        [ngClass]="{'is-invalid':contactPhone.errors && contactPhone.touched}"
        [(ngModel)]="contact.Phone"
        minlength="10"
        required
      >

      <div [hidden]="!contactPhone.errors?.required"
      class="invalid-feedback">
        Phone number Required
      </div>
      <div [hidden]="!contactPhone.errors?.minlength"
      class="invalid-feedback">
        Phone number need to be 10 digits
      </div>

    </div>

    <input type="submit" values=" Submit" class="btn btn-success btn-block">
  </form>
</div>
</div>
